body,html{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #9088d4;
}
html{
  overscroll-behavior: none;
}
canvas{
  width: 100%;
  height: 100%;
}
.controls{
  position: fixed;
  top:10px;
  left:10px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  align-items: center;
}